  .emp_table_page {
    margin: 20px;
  }
  
  .emp_align {
    border-collapse: collapse;
    width: 85%;
    margin: auto;
    margin-top: 8rem;
  }
  
  .emp_align th, .emp_align td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
  }
  
  .color-1 {
    background-color: #c8d7e6;
    font-weight: bold;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  
  .color-2{
    background-color: #c8d7e6;
    text-transform: uppercase;
  }
