.corp_table_page {
  margin: 20px;
}

.corp_align {
  border-collapse: collapse;
  width: 70%;
  margin: auto;
  margin-top: 8rem;
}

.corp_align th, .corp_align td {
  border: 1px solid #000;
  padding: 8px;
  text-align: center;
}

.color-1 {
  background-color: #ee53ad;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.color-2{
  background-color: #c8d7e6;
  text-transform: uppercase;
}
