#form_submit {
    text-align: center;
    color: #fff;
    background: #1F365C;
    padding: 12px;
    width: 96%;
    margin: 0 auto;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
}
.sec-head{
    color: cornflowerblue;
    font-weight: bold;
}
.contact_page{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.contact_page h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    font-weight: 800;
    color: coral;
}

.submit_form {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.email {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 1rem;
}

.footer {
    background-color: black;
    color: whitesmoke;
    border: 1px solid;
    padding: 1rem;
    width: 100%;
}

.gmail_logo{
    width: 5%;
    height: 5%;
    border-radius: 50%;
    border: 1px solid whitesmoke;
}

.phone_logo{
    width: 10%;
    height: 10%;
    border-radius: 50%;
    border: 1px solid whitesmoke;
}

.email_id {
    padding-top: 1rem;
    font-weight: bold;
}

.bold {
    font-weight: bold;
    font-size: 1.5rem;
}



/* Mobile Media Query */

@media screen and (max-width: 767.98px) {
    /* .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    } */
    .contact_page h1  {
        font-size: 1.7rem;
    }
    .sec-head{
       font-size: 1.3rem;
    }
    #form_submit {
        width: 60%;
        padding: 8px;
    }
    .email {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .email h5 {
        font-size: 1rem;
        text-align: center;
    }
    .bold {
        font-size: 1.2rem;
    }
    .gmail_logo {
        width: 10%;
        height: 10%;
    }
    .phone_logo{
        width: 15%;
        height: 15%;
        border-radius: 50%;
        border: 1px solid whitesmoke;
    }
}