* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  
  /* Menu Page Design */
  
  
.color-hover:hover {
  background-color:#408EC6;
  color: whitesmoke;
}

#nav-link-border{
    color: #3c4250;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem 0.5rem;
    position: relative;
}

#nav-link-border::after {
  position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: rgb(195 63 51);
    height: 3px;
    transition: all .5s;
    opacity: 1;
}



  
  
  
  