.wrapper {
    padding: 2rem;
    background-color: #f0d9d8;
    /* width: 100%; */
    height: 100vh;
    font-family: Verdana, Tahoma, sans-serif;
}

.wrapper h4 {
    /* color: #1E2761; */
    color: coral;
    padding-bottom: 2rem;
    text-align: center;
    font-weight: bold;
}

.pagination_button {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
  }



  